$skill-width: 228px; // comes directly from the original character sheet
$block-min-width: 200px;
$block-max-width: 228px;

.sheet-block-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($block-min-width, 1fr));
    grid-gap: 22px;
}

.sheet-block-line
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;

    > *
    {
        flex-grow: 1;
        flex-shrink: 0;

        margin-bottom: 22px;
    }

    > .sheet-list,
    > .sheet-list2,
    {
        flex-grow: 0;
        flex-basis: $skill-width;
    }
}

.sheet-state-container
{
    display: flex;
    flex-direction: column;
    align-items: center;

    > * // state
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;

        &:last-child
        {
            margin-bottom: 0;
        }

        > *:first-child
        {
            margin-bottom: 6px;
        }
    }
}

.sheet-list2
{
    display: flex;

    > *
    {
        flex-grow: 1;
    }

    &::before
    {
        content: ">";
        font-family: monospace;
        font-weight: bolder;
        margin-right: $box-gap;
        flex-grow: 0;
    }

    textarea,
    input[type="text"],
    input[type="number"]
    {
        box-sizing: border-box;
        width: 100%;
    }

    textarea
    {
        min-height: 2em;
        resize: vertical;
    }

    .sheet-list-entry
    {
        padding-bottom: 6px;

        display: grid;
        grid-gap: 6px;

        position: relative; // Required so absolute positioned elements see this as its containing block.
                            // See https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block#Identifying_the_containing_block
    }

    .sheet-list-line
    {
        display: flex;

        > *
        {
            flex-grow: 0;
            padding-left: $box-gap;

            &.sheet-list-fill
            {
                flex-grow: 1;
            }
        }
    }

    .sheet-list-header-entry
    {
        padding-bottom: 15px;

        .sheet-label
        {
            background-color: $foreground;
            color: $background;
            font-weight: bold;
        }
    }
}

.sheet-list
{
    .sheet-list-entry
    {
        display: flex;
        flex-wrap: wrap; // TODO: Changes height somehow.
        //width: $skill-width;
        height: $box-height;
        padding-bottom: 6px;

        > *
        {
            flex-grow: 0;
            padding-left: $box-gap;

            &:first-child
            {
                margin-left: $box-gap; // distance to ">"
            }

            &.sheet-list-fill
            {
                flex-grow: 1;
            }
        }

        &::before
        {
            content: ">";
            font-family: monospace;
            font-weight: bolder;
            visibility: hidden;
        }
    }

    .sheet-list-header
    {
        padding-bottom: 15px;

        > *
        {
            &:first-child
            {
                background-color: $foreground;
                color: $background;
                font-weight: bold;
            }
        }

        &::before
        {
            visibility: visible;
        }
    }
}
