$edit-size: $radio-size;

.sheet-edit-placeholder,
.sheet-edit,
.sheet-edit + span,
{
    display: inline-block;
    float: left;
    width:  $edit-size;
    min-height: 1px;
    padding: 0;
    margin: 0;
}

.sheet-edit
{
    // Hide:
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 1;

    & + span::before
    {
        @include font-icon;
        font-family: 'Pictos';
        //content: 'y'; // cog icon
        content: 'p'; // pen icon
        //content: 'W'; // write icon
        opacity: $hidden-opacity;
    }

    &:hover   + span::before,
    &:checked + span::before
    {
        opacity: 1;
    }

    &:not(:checked) ~ .sheet-show-while-editing,
    &:not(:checked) ~ * .sheet-show-while-editing
    {
        display: none;
    }

    &:checked ~ .sheet-hide-while-editing,
    &:checked ~ * .sheet-hide-while-editing
    {
        display: none;
    }
}

.sheet-edit.sheet-edit-outside,
.sheet-edit.sheet-edit-outside + span
{
    position: absolute;
    left: -$edit-size;
}
