<%
--- Generate a roll button.
function roll_button(name, roll)
-%>
            <button type="roll" name="roll_<%- name %>" value="<%- roll %>"><%= name %></button>
<%
end

--- Generate a box bar.
function box_bar(name, min_points, max_points, extra_class)
    local class_string = table.concat({"sheet-box-bar", extra_class}, " ")
-%>
            <div class="<%- class_string %>">
<%
    for i = min_points, max_points do
-%><input type="radio" name="attr_<%- name %>" value="<%- i %>"<% if i == min_points then %> checked="true"<% end %>/><span><%= i % 10 %></span><%
        -- The formatting is no mistake: Its needed to prevent white-space
        -- between elements, which would interfere with the layout.
    end
-%>
            </div>
<%
end

--- Generate a box bar limit group.
function box_bar_with_limit(name, min_points, max_points)
-%>
            <div class="sheet-box-bar-limit-group">
<%
    box_bar(name, min_points, max_points)
    box_bar(name.."_max", min_points, max_points, "sheet-box-bar-limit")
-%>
            </div>
<%
end

--- Generate an attribute table.
-- First pass the attribute name and then the skill names.
function attribute(...)
    local attribute_name = ...
-%>
    <!-- <%- string.upper(attribute_name) %> -->
    <div class="sheet-line-container">
<%
    for name_index, name in ipairs{...} do
-%>
        <div>
<%
        -- the first argument is the attribute
        local is_attribute = name_index == 1

        local min_points = 0
        if is_attribute then
            min_points = 1
        end

        if is_attribute then
-%>
            <span><%= name %></span>
<%
        else
            roll_button(name, "")
        end
        box_bar(name, min_points, 6)
-%>
        </div>
<%
    end
-%>
    </div>
<%
end

--- Generate a roll template.
function roll_template(name, inner_fn)
-%>
<!-- ROLL TEMPLATE <%- string.upper(name) %> -->
<%
    if standalone then
-%>
<div class="sheet-rolltemplate-<%= name %>">
<%
        inner_fn()
-%>
</div>
<%
    else
-%>
<rolltemplate class="sheet-rolltemplate-<%= name %>">
<%
        inner_fn()
-%>
</rolltemplate>
<%
    end
end

function repeating_section(name, inner_fn)
    if standalone then
-%>
    <div class="repcontainer" data-groupname="repeating_<%= name %>">
<%
        for i = 1, 3 do
-%>
        <div class="repitem">
            <div class="itemcontrol">
                <button class="btn btn-danger pictos repcontrol_del">#</button>
                <a class="btn repcontrol_move">≡</a>
            </div>
<%
            inner_fn()
-%>
        </div>
<%
        end
-%>
    </div>
    <div class="repcontrol" data-groupname="repeating_<%= name %>">
        <button class="btn repcontrol_edit">Modify</button>
        <button class="btn repcontrol_add">+Add</button>
    </div>
<%
    else
-%>
    <fieldset class="repeating_<%= name %>">
<%
        inner_fn()
-%>
    </fieldset>
<%
    end
end

function fake_environment(t)
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://app.roll20dev.net/assets/base.css" rel="stylesheet" type="text/css">
    <link href="https://app.roll20.net/assets/app.css" rel="stylesheet" type="text/css">
    <link href="https://app.roll20.net/editor/assets/editor.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Contrail+One|Shadows+Into+Light|Candal&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="sheet.css" rel="stylesheet">
    <title></title>
</head>
<body style="overflow: visible;">
<!--
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable"
         style="display: block;">
        <div class="dialog characterdialog ui-dialog-content ui-widget-content"
             style="display: block; width: auto; min-height: 0px; height: 682px;">
            <div class="dialog largedialog characterviewer" style="display: block;">
                <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable"
                     style="display: block; width: 868px; height: 100%; margin:0 auto; position: relative !important;">
-->
                    <div class="tab-content">
                        <form class="sheetform" autocomplete="off"
                            style="display: block; width: 100%; height: 100%;">
                            <div class="charsheet" style="display: block;">
                                <!--- BEGIN Character Sheet HTML -->
<%
    t.sheet()
-%>
                                <!--- END Character Sheet HTML -->
                            </div>
                        </form>
                    </div>
<!--
                </div>
            </div>
        </div>
    </div>
-->
    <!-- ROLL TEMPLATES -->
    <div class="textchatcontainer ui-tabs-panel ui-widget-content ui-corner-bottom">
        <div class="content">
            <div class="message general">
<%
    for name, fn in pairs(t.roll_templates or {}) do
        roll_template(name, fn)
    end
-%>
            </div>
        </div>
    </div>
</body>
</html>
<%
end

function sheet()
-%>
<div class="sheet-degenesis"><!-- WRAPPER START (see CSS) -->
<div class="sheet-block-line">
<%
    attribute("body", "athletics", "brawl", "force", "melee", "stamina", "toughness")
    attribute("agility", "crafting", "dexterity", "navigation", "mobility", "projectiles", "stealth")
    attribute("charisma", "arts", "conduct", "expression", "leadership", "negotiation", "seduction")
-%>
</div>
<div class="sheet-block-line">
<%
    attribute("intellect", "artifact_lore", "engineering", "focus", "legends", "medicine", "science")
    attribute("psyche", "cunning", "deception", "domination", "faith", "reaction", "willpower")
    attribute("instinct", "empathy", "orienteering", "perception", "primal", "survival", "taming")
-%>
</div>
<hr/>
<div class="sheet-block-line">
    <!-- ORIGINS -->
    <div class="sheet-line-container">
        <div>
            <span>origins</span>
        </div>
<%
for _, name in ipairs{"allies", "authority", "network", "renown", "resources", "secrets"} do
-%>
        <div>
<%
                roll_button(name, "")
                box_bar(name, 0, 6)
-%>
        </div>
<%
end
-%>
    </div>

    <div class="sheet-state-container">
        <!-- EGO -->
        <div>
<%
            box_bar_with_limit("ego", 0, 2*2*6)
-%>
            <div>ego</div>
        </div>

        <!-- SPORE INFESTATIONS -->
        <div>
<%
            box_bar_with_limit("spore_infestations", 0, 2*2*6)
-%>
            <div>spore_infestations</div>
        </div>

        <!-- FLESH WOUNDS -->
        <div>
<%
            box_bar_with_limit("flesh_wounds", 0, 2*2*6)
-%>
            <div>flesh_wounds</div>
        </div>

        <!-- TRAUMA -->
        <div>
<%
            box_bar_with_limit("trauma", 0, 2*6)
-%>
            <div>trauma</div>
        </div>
    </div>

    <!-- POTENTIALS -->
    <div class="sheet-line-container">
        <div>
            <span>potentials</span>
        </div>
    </div>
</div>
<!-- WEAPONS -->
<div class="sheet-table">
    <div class="sheet-table-entry">
        <span class="sheet-edit-placeholder"></span>
        <span class="sheet-table-content">
            <span class="sheet-table-line sheet-weapons">
                <span>weapons</span>
                <span>handling</span>
                <span>distance</span>
                <span>damage</span>
                <span>ammunition</span>
            </span>
        </span>
    </div>
<%
    repeating_section('weapons', function()
-%>
        <div class="sheet-table-entry">
            <input class="sheet-edit"
                   type="checkbox"
                   name="attr_weapon-edit"/><span></span>
            <span class="sheet-table-content">
                <span class="sheet-table-line sheet-weapons">
                    <input type="text" name="attr_weapon-name"/>
                    <input type="number" name="attr_weapon-handling"/>

                    <!-- DISTANCE -->
                    <span class="inline">
                        <span class="sheet-hide-while-editing"
                              name="attr_weapon-distance"></span>
                        <input class="sheet-show-while-editing"
                               type="number"
                               name="attr_weapon-distance"
                               placeholder="normal"
                               title="effective attack range"/>
                        /
                        <span class="sheet-hide-while-editing"
                              name="attr_weapon-distance-far"></span>
                        <input class="sheet-show-while-editing"
                               type="number"
                               name="attr_weapon-distance-far"
                               placeholder="far"
                               title="far attack range"/>
                    </span>

                    <!-- DAMAGE -->
                    <span class="inline">
                        <input type="hidden",
                               name="attr_weapon-damage"/>
                        <span class="sheet-hide-while-editing">
                            <span name="attr_weapon-damage"></span>
                        </span>
                        <span class="sheet-show-while-editing">
                            <input type="number"
                                   name="attr_weapon-damage-base"
                                   placeholder="base"
                                   title="base damage"/>
                            <select name="attr_weapon-damage-force-factor"
                                    title="body force bonus damage">
                                <option value="0"></option>
                                <option value="1">+ F</option>
                                <option value="0.5">+ F/2</option>
                                <option value="0.333">+ F/3</option>
                            </select>
                        </span>
                    </span>

                    <!-- AMMUNITION -->
                    <span class="inline">
                        <input type="number"
                               name="attr_weapon-ammunition"
                               placeholder="cur."
                               title="current ammunition"/>
                        /
                        <span class="sheet-hide-while-editing"
                              name="attr_weapon-ammunition-max"></span>
                        <input class="sheet-show-while-editing"
                               type="number"
                               name="attr_weapon-ammunition-max"
                               placeholder="max."
                               title="maximum ammunition"/>

                        <span class="sheet-hide-while-editing"
                              name="attr_weapon-ammunition-type"></span>
                        <input class="sheet-show-while-editing"
                               type="text"
                               name="attr_weapon-ammunition-type"
                               placeholder="type"
                               title="ammunition type"/>
                    </span>
                </span>
                <div class="sheet-table-details sheet-show-while-editing">
                    <span class="sheet-table-line sheet-weapons">
                        <span>properties</span>
                        <span><span>weight</span></span>
                        <span>tech</span>
                        <span>slots</span>
                    </span>
                    <span class="sheet-table-line sheet-weapons">
                        <textarea name="attr_weapon-properties"></textarea>

                        <input type="number" name="attr_weapon-weight"/>

                        <input type="number" name="attr_weapon-tech" min="1" max="6"/>

                        <!-- SLOTS -->
                        <span class="inline">
                            <input type="number"
                                   name="attr_weapon-slots"
                                   placeholder="used"
                                   title="active slots"/><!-- TODO: wording -->
                            /
                            <input type="number"
                                   name="attr_weapon-slots-max"
                                   placeholder="max."
                                   title="maximum slots"/>
                        </span>
                    </span>
                </div>
            </span>
        </div>
<%
    end)
-%>
</div>
</div><!-- WRAPPER END -->
<%
end -- sheet

roll_templates = {}
roll_templates.attack = function()
-%>
    {{name}}
    {{#ammunition_type}}
        {{ammunition_type}}
    {{/ammunition_type}}


    {{attack}} <!-- near/far/extreme ? -->
    {{damage}}

    {{properties}}
<%
end -- roll_template.attack

if standalone then
    fake_environment{sheet=sheet, roll_templates=roll_templates}
else
    sheet()
    for name, fn in pairs(roll_templates) do
        roll_template(name, fn)
    end
end
-%>
